@import url('https://fonts.googleapis.com/css2?family=Arizonia&display=swap');


.container {
    height: 100vh;
    display: flex;
    position: relative;
    width: 70%;
    margin: auto;
}


.wrapper{
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
}

.left{
    margin-right: 20px;
    width: 100%
}


.right{
    margin-left: 20px;
    width: 80%;
}

.img{
    position: relative;
    height: 800px;
    border-radius: 12px;
}

.article {
 height: 500px;
 justify-content: space-evenly;
 display: flex;
 flex-direction: column;
 padding: 10px;;
}

.articleHead {
    font-size: 78px;
    font-family: 'Arizonia', cursive;
    color: #0D2149;
}

.articleHead2{
    font-size: 48px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    top: 190px;
    position: absolute;
}

.text {
    margin-bottom: 50px;
}

.btn {
    border: none;
    outline: none;
    background-color: #F9A620;
    padding: 15px;
    border-radius: 8px;
    font-family: inherit;
    cursor: pointer;
}

.btn:hover {
    background: none;
}
