.container {
    padding: 80px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    width: 80%;
}

.title{
    font-size: 2.5em;
}


.tav{
    color: #EC770A;
}
.desc{
    font-size: 24px;
    color: #444;
    width: 50%;
    text-align: center;
}


.wrapper{
    width: 100%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    align-items: center;
}

.foodList{
    display: flex;
    align-content: center;
    justify-content: center;
}

@media screen and (max-width: 480px) {
    .title {
        text-align: center;
    }

    .desc {
        width: 90%;
        text-align: center;
    }
}