.container {
    height: 70px;
    padding: 0px 50px;
    background-color: #EC770A;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 999;
    width: 80%;
    margin: auto;
    top: 30px;
    border-radius: 24px; 
}

.item{
    flex: 1;
    display: flex;
    align-items: center;
}

.item:nth-child(2){
    flex: 3;
    justify-content: center;
}

.item:nth-child(3){
    justify-content: flex-end;
    border-radius: 12px;
}

.callButton{
    background-color: #fff;
    border-radius: 50%;
    padding: 5px;
    height: 40px;
}

.texts{
    margin-left: 20px;
    color: white;
}

.text:first-child{
    font-size: 12px;
    font-weight: 500;
}

.text:last-child{
    font-size: 20px;
    font-weight: bold;
}

.list {
    padding: 0;
    display: flex;
    align-items: center;
    list-style: none;
    color: #fff;

}

.listItem{
    margin: 20px;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
}

.logo {

}

.wrapper {
    display: flex;
    background-color: white;
    border-radius: 24px;
    width: 100px;
    justify-content: center;
    align-items: center;
    height: 40px;
}

.user {
    margin-right: 10px; 
    cursor: pointer;
}

.cart{
    position: relative;
    cursor: pointer;
}



.counter{
    position: absolute;
    top: -3px;
    right: -5px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: black;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 12px;
    color: #fff;
}


@media screen and (max-width: 480px) {
    .container {
        padding: 0 15px;
    }
   
    .item:nth-child(2){
        display: none;
    }

    .item:nth-child(1) {
        flex: 3;
    }

    .text{
        display:none;
    }

    
}


/* Large devices (laptops/desktops, 992px and up) */
@media screen and (min-width: 992px) {
    .container{

    }

    .text:first-child{
        font-size: 12px;
    }
}
