@import url('https://fonts.googleapis.com/css2?family=Arizonia&display=swap');

.container {
    height: 100vh;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0f0e17;
    background-image: url("/img/bgg1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.overlay{
    height: 100vh;
    width: 100%;
    text-align: center;
    padding-top: 100px;
    color: white;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 2;
    background-color: black;
    position: absolute;
    opacity: 0.6;
}

.wrapper{
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 3;
}

.service {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.serviceItem{
    display: flex;
    flex-direction: column;
    margin: 15px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    background-color: white;
}


.header{
    color: white;
    font-size: 76px;
    font-family: "Arizonia", cursive;
}

.img {
    position: relative;
    opacity: 0.6;
}

.title {
    color: black;
}

.text{
    text-align: center;
}