@import url('https://fonts.googleapis.com/css2?family=Arizonia&display=swap');


.container {
    height: 100vh;
    display: flex;
    position: relative;
    width: 100%;
    margin: auto;
    background-color: black;
}


.wrapper{
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
}

.left{
    height: 100%;
    margin-right: 20px;
    width: 100%;
    background-image: url("/img/special.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.right{
    margin: 0 20px;
    width: 100%;
}

.article {
 height: 500px;
 justify-content: space-evenly;
 display: flex;
 flex-direction: column;
 padding: 10px;;
}

.articleHead {
    font-size: 78px;
    font-family: 'Arizonia', cursive;
    color: white;
}

.text {
    margin-bottom: 50px;
    font-size: 18px;
    width: 80%;
    color: white;

}

.btn {
    border: none;
    outline: none;
    background-color:#EC770A;
    color: white;
    padding: 15px;
    border-radius: 8px;
    font-family: inherit;
    cursor: pointer;
    margin: 20px 10px;
    width: 40%;
}

.btn:hover {
    background: none;
    border: 1px solid white;
    color: white;
}

.form {
    background-color: #333745;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*margin: 10px 0;*/
    width: 70%;
    border-radius: 8px;
    padding: 10px;
}

.formTitle{
    color: white;
    text-align: center;
}

.formItem {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.input {
    padding: 5px;
    margin: 5px;
    border-radius: 4px;
    outline: none;
    border: none;
    width: 100%;
}

