@import url('https://fonts.googleapis.com/css2?family=Arizonia&display=swap');


.container {
    height: 100vh;
    display: flex;
    position: relative;
    width: 100%;
    margin: auto;
    background-color: white;
}


.wrapper{
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
}

.left{
    height: 100vh;
    margin-right: 20px;
    width: 100%;
    background-image: url("/img/special.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.right{
    margin-left: 20px;
    width: 80%;
}

.article {
 height: 500px;
 justify-content: space-evenly;
 display: flex;
 flex-direction: column;
 padding: 10px;;
}

.articleHead {
    font-size: 78px;
    font-family: 'Arizonia', cursive;
    color: black;
}

.text {
    margin-bottom: 50px;
    font-size: 18px;

}

.btn {
    border: none;
    outline: none;
    background-color:#EC770A;
    color: white;
    padding: 15px;
    border-radius: 8px;
    font-family: inherit;
    cursor: pointer;
}

.btn:hover {
    background: none;
    color: black;
}
